.header .container{
   display: flex;
   align-items: center;
}

.header__box{
   display: flex;
   align-items: center;
   flex-direction: column;
}

.header__top{
   display: flex; 
   justify-content: space-around;
   align-items: center;
   margin-left: 40px;
}

.header__address{
   position: relative;
   display: block;
   padding: 10px;
   margin-right: 105px;
   font-family: "Futura PT";
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   display: flex;
   align-items: center;
   color: #333333;
}

.header__address::before{
   position: absolute;
   left: -10px;
   display: block;
   width: 14px;
   height: 13px;
   background-image: url("../image/house.svg");
   content: "";
}

.top__list-middle{
   display: flex;
   align-items: center;
   @include reset-list ;
   margin-right: 98px;
}

.top__item-middle{
   display: block;
   margin: 0;
}

.top__item-middle + .top__item-middle{
   margin-left: 10px;   
}




.top__link-middle{
   padding: 10px;
   font-family: 'Futura PT';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: #333333;
   text-decoration: none;
}

.top__list-right{
   display: flex;
   align-items: center;
   @include reset-list;
}

.top__item-right{
   display: block;
}

.top__item-right +.top__item-right{
   margin-left: 15px;
}

.top__item-right{
   display: block;
   padding: 15px;
   font-family: "Futura PT";
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   align-items: center;
   color: #333333;
}

.time__strong{
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 18px;
   align-items: center;
   color: #333333;
}

.nav__list{
   display: flex;
   align-items: center;
   @include reset-list;
}

.nav__item + .nav__item{
   margin-left: 40px;
}

.nav__link{
   display: block;
   padding: 15px;
   font-family: 'Futura PT';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #333333;
   text-decoration: none;
}